<div class="container-fluid h-100">
    <div class="row h-100">
        
        <div id="site_sidebar" class="col-2">
            <div id="sidebar_title_row" class="row">
                <span id="sidebar_title"> Sidebar Title </span>
            </div>
            
            <div class="row sidebar_link_row">
                <a class="sidebar_link_btn active" href="/example_page/" > Example Page </a>
            </div>
            <div class="row sidebar_link_row">
                <span class="sidebar_link_btn" > Example Btn </span>
            </div>
            <div class="row sidebar_link_row">
                <span class="sidebar_link_btn" > Example Btn </span>
            </div>
            <div class="row sidebar_link_row">
                <span class="sidebar_link_btn" > Example Btn </span>
            </div>
            
        </div>
        

        
        <div id="site_content" class="col-10 no-float">
            <h2>Create appointment here.</h2>

            <form id="create-appointment-form" method="POST" action="/garage/create_appointment">

                <input type="text" id="gname" name="gname" value="<%= gname %>"><br><br>
                <label for="dateTimeInput">Date/Time</label>
                <input type="datetime-local" id="dateTimeInput" name="dateTimeInput" required><br>
                
                <label for="serviceInput">Date/Time</label>
                <select name="serviceInput" id="serviceInput">
                    
                    <option value="Oil Change">
                        Oil Change
                    </option>
                    <option value="Engine Change">
                        Engine Change
                    </option>
                </select><br>
                <div class="small_margin_bot">
                    
                    <span>
                        Price:
                    </span><br>
                </div>
                
                <button type="submit">
                    Submit
                </button>
            </form>

        </div>
        
    </div>
</div>
<script>
    var today = new Date().toISOString().slice(0, 16);
    document.getElementsByName("dateTimeInput")[0].min = today;
</script>