<link rel="stylesheet" href="../public/main-styles.css">
<h1>People Found</h1>
<main class="data">
<ul>
    {{#each name}}
    <li>
        <h2><a class = "getBig" href="/persondetails/{{lookup ../id @index}}">{{.}} </a></h2>
    </li>
    {{/each}}
    <li>
        <h2><a href = "/">Make another search</a></h2>
    </li>
</ul>
</main>
