<!DOCTYPE html>
<html lang="en">
<head>
<title>MyGarage - Vehicle Maintenance & Repair Website</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="landingmain.css">
</head>
<body>
<section>
<div class="header">
  <h1> MyGarage - Vehicle Maintenance & Repair Website  </h1>
</div>

<div class="navbar">
  <a href="new main.html" class="active">Home</a>
  <a href="new main.html">Services</a>
  <a href="new main.html">Search</a>
  <a onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="right">Login</a>
  <a onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="right">Sign Up</a>
</div>

<div class="row">
  <div class="side">
    <h1><font face="verdana">MyGarage</font></h1>
    <h2><font face="verdana"> The most trusted websites to find reliable vehicle service center</h2>
    <p>Our application works with the motive of managing car maintenance, allowing users to find service centers based on service offered and ratings. 
      Regular users are able to use our application to find the service centers that fit their needs, while service center owners are able to advertise and manage the services that they offer.</p>
    <h3>MyGarage Features</h3>
    <p>1. User can search and schedule an appointment with the best vehicle service center in the locality.  <br>
       2. Ability to rate a garage and give reviews as well as choose favourites. <br>
       3. Garage Owners can manage appointments and track progress and earnings.
    </font></p>
  </div>

<div class="w3-content w3-section" style="max-width:800px">
  <img class="mySlides" src="./images/1.jpg" style="width:100%">
  <img class="mySlides" src="./images/2.jpg" style="width:100%">
  <img class="mySlides" src="./images/4.jpg" style="width:100%">
  <img class="mySlides" src="./images/9.jpg" style="width:100%">
  <img class="mySlides" src="./images/6.jpg" style="width:100%">
  <img class="mySlides" src="./images/7.jpg" style="width:100%">
</div>
</div>
</section>


<div class="footer" >
  <font color=#dfb1ff>
    <h2 align="left">MyGarage -  The best website to search nearest best rated Vehicle Sevice Center</h2>
    <h3 align="right"> ABOUT US   &nbsp; &nbsp; &nbsp; &nbsp;   CONTACT US   &nbsp; &nbsp; &nbsp; &nbsp;   FAQS</h3>
   </font>
</div>
<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 3000); // Change image every 3 seconds
}


</script>
</body>
</html>
