<form action="/login" method="POST" class="login">
            <label for ="Input">
                Name
                <input id ="Input" type="text" name="title" placeholder="Input" class="full-width-input">
            </label>
            <label for ="Input">
                Email
                <input id ="Input" type="email" name="title" placeholder="Input" class="full-width-input">
            </label>
            <label for ="Input">
                Set Password
                <input id ="Input" type="password" name="title" placeholder="Input" class="full-width-input">
            </label>
            <label>
                <button type="submit">SignUp</button>
            </label>
        </form>